---
---

@import "{{ site.theme }}";

//CUSTOMIZATION --- all mods go below here

//Adobe@Adobe Colours
$purple : #6D3976;
$navy : #23326B;
$lt_navy: #2b4a78;
$aqua : #49A5A1;
$cyan: #3ed4ce;
$fuschia: #fa00a9;
$red: #ff3607;
$bg_file : "../../images/gradient-bg.png";

//Create the gradient that goes behind the header
@mixin linearGradient($top-color, $mid-color, $bottom-color, $opacity, $image_bg) {
    background-image: -moz-linear-gradient(-45deg, rgba($top-color, $opacity) 5%, rgba($mid-color, $opacity - 0.15) 60%, rgba($bottom-color, $opacity) 100%), url($image_bg); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(-45deg, rgba($top-color, $opacity) 5%, rgba($mid-color, $opacity - 0.15) 60%, rgba($bottom-color, 1) 100%), url($image_bg); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(135deg, rgba($top-color, $opacity) 5%, rgba($mid-color, $opacity - 0.15) 60%, rgba($bottom-color, $opacity) 100%), url($image_bg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str(rgba($top-color, $opacity))}', endColorstr='#{ie-hex-str(rgba($bottom-color, $opacity))}',GradientType=1 ), url($image_bg); /* IE6-9 */
    background-size: cover;
}

//Used for the view on github button, changes the colour from default
.btn { 
    min-width: 200px; 
    margin-top: 1em; 
    color: rgba(white, 1); 
    font-weight: bold; 
    background-color: rgba($cyan, 1); 
    border-color: rgba($cyan, 1); border-style: solid; 
    border-width: 1px; 
    border-radius: 0.1rem; 
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; 
}

//User for the view on github button, changes the hover colour from default
.btn:hover { 
    color: rgba($cyan, 1); 
    text-decoration: none; 
    background-color: rgba($aqua, 0); 
    border-color: rgba(white, 1); 
    font-weight: bold;
}

//Add the gradient to the header
.page-header {  
    @include linearGradient($purple, $navy, $aqua, .95, $bg_file);
}

//Change the header font and spacing
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { 
    margin-top: 2rem; 
    margin-bottom: 1rem; 
    font-weight: 700; 
    color: $red; 
    font-family: 'Proxima Nova', 'sans serif'
}

//Change the link font and spacing
.main-content h1 a, .main-content h2 a, .main-content h3 a, .main-content h4 a, .main-content h5 a, .main-content h6 a { 
    color: $red; 
    font-family: 'Proxima Nova', 'sans serif';
}

//Change the sections bulleted links font
ul {
    li {
        a {
           color: $lt_navy;
            font-weight: bold;
        }
        ul {
            li {
                a {
                    color: $aqua;
                    font-weight: normal;
                }
                ul {
                    li {
                        a {
                            color: #000;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}

//Add class for social icon list
.social_icons {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        color: $navy;
            li {
                color: $navy;
                .with-text {
                    display: inline; //display the text and icons
                }
                .icon-only {
                    display: none; //don't display just the icons
                }
                a{
                    text-decoration: none;
                    font-weight: normal;
                }

        }
    }
}

//Change the layout, footer size, font, and background
.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    background: $lt_navy;
    
    .information {
        max-width: 75%;
        padding: 10px;
        color: $aqua;
        a {
            color: white;
        }
    }
    
    .logo {
        max-width: 25%;
        padding: 10px;
        img {
            width: 100%;
            max-width: 200px;
            padding: 0;
            margin: 0;
        }
    }
}

//Add padding under button in header
.page-header { 
    .centered {
        img {
            padding-bottom: 1rem;
        }
    }
}

//Desktop screen sizes
@media screen and (min-width: 64em) { 
    
    .btn {
        width: 25%; //Make button small when it gets wider
    }

    //Change display to flex and add logo on the side
    .page-header { 
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff; 
        text-align: center; 
        img {
            width: 10%;
            min-width: 250px;
            margin-left: 2%;
            margin-right: 3%;
        }
        .centered {
            width: 70%;
            margin-right: 15%;
            margin-left: 0%;
        }
    }
}

//Tablet screen size
@media screen and (min-width: 42em) and (max-width: 64em) {
    
    
    .page-header { 
        img {
            display: none; //don't display large square logo
        }
        .centered {
            img {
                display: inline; //display long line logo
                max-width: 50%;
            }
            width: 100%;
            margin: 0;
        }
    }
    
    .social_icons {
        font-size: 2rem;
        ul {
                li {
                    .with-text {
                        display: none; //don't display text and icons
                    }
                    .icon-only {
                        display: inline; //display just the icons
                    }
            }
        }
    }    
}
@media screen and (max-width: 42em) {
    .page-header { 
        img {
            display: none; //don't display square logo
        }
        .centered {
            img {
                display: inline; //display long line logo
                max-width: 75%;
            }
            width: 100%;
            margin: 0;
        }
    }
    
    .social_icons {
        font-size: 1.5rem;
        ul {
                li {
                    .with-text {
                        display: none; //don't display text and icons
                    }
                    .icon-only {
                        display: inline; //display just the icons
                    }
            }
        }
    }
    
    .site-footer {
        .information {
            display: none; //don't display maintainance text
        }
        justify-content: center;
        .logo {
            max-width: 100%; //display long line logo full width
        }
    }
    
}

